@import "./../../../../styles/colors";

h1 {
  font-size: 1rem;
  span {
    font-size: 1.5rem;
  }
}

.coreSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  flex: 1;
  margin: 3rem 6rem;
}
.additionalSection {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 3rem;
}

.detailWithIcon {
  display: flex;
  justify-content: left;
  align-items: center;
  img {
    margin-right: 8px;
  }
}

.skills {
  h3 {
    margin: 8px 0;
  }
  p {
    display: inline-block;
    padding: 4px 8px;
    margin: 4px;
    font-size: 0.8rem;
    background-color: $background-tertiary;
    border-radius: 16px;
  }
}

@media (max-width: 1024px) {
  .aboutMe {
    flex-direction: column;
  }
  .coreSection,
  .additionalSection {
    margin: 0 3rem;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
}
