.section {
  flex-direction: column;
}

h1 {
  font-size: 1rem;
}
h1 span {
  font-size: 1.5rem;
}

.subSections {
  display: flex;
  width: 100%;
}
.subSections div {
  flex: 1;
}

.detailWithIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailWithIcon img {
  margin-right: 8px;
}