.aboutMe {
  background-color: #24292f;
  overflow: hidden;
}

h1 {
  font-size: 1rem;
}
h1 span {
  font-size: 1.5rem;
}

.coreSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  flex: 1;
  margin: 3rem 6rem;
}

.additionalSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  flex: 1;
  margin: 3rem;
}

.detailWithIcon {
  display: flex;
  justify-content: left;
  align-items: center;
}
.detailWithIcon img {
  margin-right: 8px;
}

.hobbies h3,
.skills h3 {
  margin: 8px 0;
}
.hobbies p,
.skills p {
  display: inline-block;
  padding: 8px 16px;
  margin: 4px;
  font-size: 1rem;
  background-color: #2f3742;
  border-radius: 16px;
}

.gaming {
  cursor: url("./../../../../assets/icons/sword.svg"), auto;
}

.controllerImage {
  transform: rotate(90);
  position: fixed;
  bottom: 200px;
  right: -100px;
  transition: 0.5s;
  z-index: 100;
}

.controllerGive {
  right: -5px;
}

.catImage {
  position: fixed;
  bottom: -100px;
  right: 50px;
  transition: 0.5s;
  z-index: 100;
}

.catImageLurk {
  bottom: -10px;
}

.funFact p,
.thought p {
  text-align: center;
}

.socials {
  padding: 14px 0;
  text-align: center;
}
.socials img {
  margin: 0 8px;
}
.socials img:hover {
  scale: 1.2;
}

@media (max-width: 1024px) {
  .aboutMe {
    flex-direction: column;
  }
  .coreSection,
  .additionalSection {
    margin: 0 3rem;
  }
}