.section {
  flex-direction: column;
}

h1 {
  font-size: 1rem;
  span {
    font-size: 1.5rem;
  }
}

.subSections {
  display: flex;
  width: 100%;
  div {
    flex: 1;
  }
}

.detailWithIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    margin-right: 8px;
  }
}
