h1 {
  font-size: 1rem;
}
h1 span {
  font-size: 1.5rem;
}

.coreSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.detailWithIcon {
  display: flex;
  justify-content: left;
  align-items: center;
}
.detailWithIcon img {
  margin-right: 8px;
}