/*$primary: #fafbfc;
$secondary: #f6f8fa;
$active: #055d20;
$inactive: #d2fedb;
$text: #24292f;
$red: #a0111f;
$border: #373b41;*/
.intro {
  flex: 1;
}

.title {
  display: flex;
  align-items: center;
}
.title h1 {
  margin-left: 1rem;
}

.logo {
  width: 80px;
  height: 80px;
  border: 2px solid #26cd41;
  border-radius: 50%;
}

.aboutMe {
  background-color: #30363d;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}
.aboutMe p {
  margin: 0 5px;
  font-size: 1.2em;
  line-height: 2rem;
}

.moreAboutMe button {
  background-color: transparent;
  padding: 5px 10px;
  margin: 15px 5px;
  border: 2px solid #7a828e;
  border-radius: 5px;
}
.moreAboutMe button:hover {
  scale: 1.1;
  color: #26cd41;
  border-color: #26cd41;
}

.socials img {
  margin: 5px;
}
.socials img:hover {
  scale: 1.1;
}

.menu {
  display: flex;
  margin-left: 10px;
}
.menu a {
  text-decoration: none;
  padding: 5px 15px;
  margin: 15px 5px 5px 5px;
  color: #26cd41;
  font-size: 1.2rem;
  background-color: #15381f;
  border-radius: 5px;
}
.menu a:hover {
  scale: 1.1;
}

.featured {
  flex: 1;
  display: none;
}

@media (min-width: 768px) {
  .intro {
    margin: 50px;
  }
  .featured {
    display: block;
    margin: 50px;
  }
}