//colors
//dark
$primary: #0a0c10;
$secondary: #343143;
$tertiary: #30363d;
$active: #26cd41;
$inactive: #15381f;
$text: #c2c4c8;
$red: #ff4445;
$border: #7a828e;
//light
/*$primary: #fafbfc;
$secondary: #f6f8fa;
$active: #055d20;
$inactive: #d2fedb;
$text: #24292f;
$red: #a0111f;
$border: #373b41;*/

//title
.title {
  display: flex;
  align-items: center;
  h1 {
    margin-left: 1rem;
  }
}
.logo {
  width: 50px;
  height: 50px;
  border: 2px solid $active;
  border-radius: 50%;
}

//short about me
.aboutMe {
  background-color: $tertiary;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  p {
    margin: 0 5px;
    font-size: 1.2em;
    line-height: 2rem;
  }
}

.moreAboutMe {
  button {
    background-color: transparent;
    padding: 5px 10px;
    margin: 15px 5px;
    border: 2px solid $border;
    border-radius: 5px;
    &:hover {
      scale: 1.1;
      color: $active;
      border-color: $active;
    }
  }
}

.socials {
  img {
    margin: 5px;
    &:hover {
      scale: 1.2;
    }
  }
}

.menu {
  display: flex;
  margin-left: 10px;
  p {
    padding: 5px 15px;
    margin: 15px 5px 5px 5px;
    color: $active;
    background-color: $inactive;
    border-radius: 5px;
  }
}
