*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  padding: 100px;
  height: 100vh;
  background-color: #FAF9F6;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.title img {
  height: 6rem;
  margin: 0 10px;
  border: 5px solid #28282B;
  border-radius: 50%;
}
.title h1 {
  margin: 0 10px;
  font-size: 1.5em;
  letter-spacing: 5px;
}
.title h1 .name {
  margin-left: 10px;
  font-size: 2rem;
}