@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slideFromBottom {
  from {
    opacity: 0;
    transform: translateY(300px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes appearFromNothing {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  overflow: hidden;
}

html {
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  padding: 100px;
  height: 100vh;
  background-color: #FAF9F6;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 20px 0;
}
.title img {
  height: 6rem;
  margin: 0 10px 0 0;
  border: 5px solid #28282B;
  border-radius: 50%;
  animation: appearFromNothing 0.5s ease-out 0s 1 normal both;
}
.title h1 {
  margin: 0 0 0 10px;
  font-size: 1.5rem;
  letter-spacing: 5px;
  animation: slideFromRight 0.5s ease-out 0s 1 normal both;
}
.title h1 .name {
  margin: 0 0 0 10px;
  font-size: 2rem;
}

.main-section {
  display: flex;
  margin: 20px 0;
}
.main-section .details p {
  font-size: 1.2rem;
  letter-spacing: 3px;
}
.main-section .details button {
  padding: 10px 20px;
  background-color: transparent;
  color: #28282B;
  border: 5px solid #28282B;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
}
.main-section .details > * {
  margin: 10px;
}
.main-section > * {
  flex-basis: 100%;
}