.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.projectShowcase {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.roverImage {
  position: fixed;
  bottom: 0px;
  left: -20%;
  transition: 5s;
}
.roverImageAppear {
  left: 33%;
}
