@import "./../../../../styles/colors";

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.projectShowcase {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
  justify-items: center;
  align-items: center;
  gap: 2rem;
}

.roverImage {
  position: fixed;
  bottom: 0px;
  left: -20%;
  transition: 5s;
}
.roverImageAppear {
  left: 33%;
}

.seeMore {
  padding: 8px 16px;
  background-color: transparent;
  border: 2px solid $active;
  color: $text;
  border-radius: 16px;
  &:hover {
    background-color: $active;
    color: #000000;
  }
}

@media (max-width: 768px) {
  .projectShowcase {
    grid-template-columns: repeat(2, 1fr);
  }
}
