@import "./../../../../styles/colors";

.menuButton {
  margin: 8px;
  padding: 8px;
  background-color: $background;
  border: 2px solid $text;
  border-radius: 8px;
  z-index: 100;
  opacity: 1;
  transform: translateX(-80px);
  transition: 0.5s;
}

.menubar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  width: 100%;
  background-color: $background-secondary;
  opacity: 0;
  transform: translateY(-80px);
  transition: 0.5s;
  pointer-events: none;
  z-index: 50;
  .title {
    display: flex;
    align-items: center;
    img {
      width: 2rem;
      border: 2px solid $active;
      border-radius: 50%;
    }
    h1 {
      font-size: 1rem;
      margin-left: 8px;
    }
  }
  .menu {
    button {
      margin: 4px;
      padding: 8px;
      background-color: transparent;
      border: none;
      a {
        font-size: 1rem;
        font-weight: bold;
        color: $text;
      }
      &:hover {
        a {
          color: $active;
        }
      }
    }
  }
  .resume {
    padding: 8px 12px;
    background-color: transparent;
    border: 2px solid $active;
    border-radius: 16px;
    a {
      color: $text;
      font-weight: bold;
    }
    &:hover {
      background-color: $active;
      a {
        color: $background;
      }
    }
  }

  .socials {
    a {
      margin: 8px;
    }
  }
}

.showMenuPc {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

@media (max-width: 1024px) {
  .showMenuButton {
    opacity: 1;
    transform: translateX(0px);
  }
  .menubar {
    padding: 16px 32px;
    opacity: 0;
    transform: translateX(-700px);
    .title {
      flex-direction: column;
      h1 {
        margin-top: 8px;
        margin-left: 0;
      }
    }
  }
  .showMenuMobile {
    opacity: 1;
    transform: translateX(0px);
    pointer-events: all;
  }

  .menubar {
    flex-direction: column;
    width: auto;
    height: 100%;
    .menu {
      display: flex;
      flex-direction: column;
      button {
        border-bottom: 2px solid $text;
      }
    }
  }
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
}
