.menuButton {
  width: 2rem;
  height: 2rem;
  margin: 8px;
  padding: 8px;
  background-color: #0a0c10;
  border: 2px solid #ffffff;
  border-radius: 8px;
  z-index: 100;
  opacity: 1;
  transform: translateX(-80px);
  transition: 0.5s;
}

.menubar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  margin: 16px;
  width: calc(100% - 64px);
  background-color: #24292f;
  border: 2px solid #ffffff;
  border-radius: 16px;
  opacity: 0;
  transform: translateY(-80px) scale(0);
  transition: transform 0.5s, border-radius 1s, opacity 0.5s;
  pointer-events: none;
  z-index: 50;
}
.menubar .title {
  display: flex;
  align-items: center;
}
.menubar .title img {
  width: 2rem;
  border: 2px solid #26cd41;
  border-radius: 50%;
}
.menubar .title h1 {
  font-size: 1rem;
  margin-left: 8px;
}
.menubar .menu button {
  margin: 4px;
  padding: 8px;
  background-color: transparent;
  border: none;
}
.menubar .menu button a {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
}
.menubar .menu button:hover a {
  color: #26cd41;
}
.menubar .resume {
  padding: 8px 12px;
  background-color: transparent;
  border: 2px solid #26cd41;
  border-radius: 16px;
}
.menubar .resume a {
  color: #ffffff;
  font-weight: bold;
}
.menubar .resume:hover {
  background-color: #26cd41;
}
.menubar .resume:hover a {
  color: #0a0c10;
}
.menubar .socials a {
  margin: 8px;
}

.showMenuPc {
  opacity: 1;
  transform: translateY(0) scale(1);
  pointer-events: all;
}

@media (max-width: 1024px) {
  .showMenuButton {
    opacity: 1;
    transform: translateX(0px);
  }
  .menubar {
    flex-direction: column;
    width: auto;
    height: 100%;
    padding: 16px 32px;
    margin: 0;
    border: 0;
    border-right: 2px solid #ffffff;
    border-radius: 50%;
    opacity: 0;
    transform: translateX(-700px);
  }
  .menubar .title {
    flex-direction: column;
  }
  .menubar .title h1 {
    margin-top: 8px;
    margin-left: 0;
  }
  .menubar .menu {
    display: flex;
    flex-direction: column;
  }
  .menubar .menu button {
    border-bottom: 2px solid #ffffff;
  }
  .showMenuMobile {
    opacity: 1;
    transform: translateX(0px);
    border-radius: 0%;
    pointer-events: all;
  }
}