@media screen and (max-width: 1200px) and (orientation:portrait) {
  html {
    font-size: 20px;
  }
  .title {
    img {
      margin: 1rem;
    }
    flex-direction: column;
  }
  .title, p, .socials {
    text-align: center;
  }
  .buttons {
    text-align: center;
  }
  .projects , .blogs , .achievements {
    display: inline;
  }
  .menu {
    display: none;
  }
}

@media screen and (max-width: 1000px) and (orientation:portrait) {
 html {
  font-size: 18px;
 }
}

@media screen and (max-width:800px) and (orientation:portrait) {
  html {
   font-size: 16px;
  }
  body {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 600px) and (orientation:portrait) {
  html {
   font-size: 14px;
  }
}

@media screen and (max-width: 400px) and (orientation:portrait) {
  html {
   font-size: 12px;
  }
}