@import "./../styles/colors";

.intro {
  flex: 1;
}
//title
.title {
  display: flex;
  align-items: center;
  h1 {
    margin-left: 1rem;
  }
}
.logo {
  width: 80px;
  height: 80px;
  border: 2px solid $active;
  border-radius: 50%;
}

//short about me
.aboutMe {
  background-color: $tertiary;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  p {
    margin: 0 5px;
    font-size: 1.2em;
    line-height: 2rem;
  }
}

.moreAboutMe {
  button {
    background-color: transparent;
    padding: 5px 10px;
    margin: 15px 5px;
    border: 2px solid $border;
    border-radius: 5px;
    &:hover {
      scale: 1.1;
      color: $active;
      border-color: $active;
    }
  }
}

.socials {
  img {
    margin: 5px;
    &:hover {
      scale: 1.1;
    }
  }
}

.menu {
  display: flex;
  margin-left: 10px;
  a {
    text-decoration: none;
    padding: 5px 15px;
    margin: 15px 5px 5px 5px;
    color: $active;
    font-size: 1.2rem;
    background-color: $inactive;
    border-radius: 5px;
    &:hover {
      scale: 1.1;
    }
  }
}

.featured {
  flex: 1;
  display: none;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .intro {
    margin: 50px;
  }
  .featured {
    display: block;
    margin: 50px;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
