@font-face {
  font-family: "Balatro";
  src: url("/fonts/balatro.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-primary: "Balatro";

  --color-primary-dark: #282828;
  --color-primary-light: #c0bbb3;
  --color-tertiary-black: #7c7774;
  --color-tertiary-red: #d58c70;
  --color-tertiary-green: #38ad5f;
  --color-tertiary-blue: #6f87c4;
  --color-card-white: #eeeade;
  --color-card-red: #b23535;
  --color-card-black: #282828;
}

html {
  font-size: 14px;
}

body {
  @apply bg-primary-dark font-primary;
}

/* src/app/globals.css */
:root {
  --on: 0;
  --bg: hsl(
    calc(200 - (var(--on) * 160)),
    calc((20 + (var(--on) * 50)) * 1%),
    calc((20 + (var(--on) * 60)) * 1%)
  );
  --cord: hsl(0, 0%, calc((60 - (var(--on) * 50)) * 1%));
  --stroke: hsl(0, 0%, calc((60 - (var(--on) * 50)) * 1%));
  --shine: hsla(0, 0%, 100%, calc(0.75 - (var(--on) * 0.5)));
  --cap: hsl(0, 0%, calc((40 + (var(--on) * 30)) * 1%));
  --filament: hsl(
    45,
    calc(var(--on) * 80%),
    calc((25 + (var(--on) * 75)) * 1%)
  );
}
