@import "./../../styles/colors";

.transitionPage {
  font-weight: bold;
  background-color: #000000;

  position: fixed;
  z-index: 1000;
}

.appear {
  animation: appear 0.5s alternate;
}
.disappear {
  animation: disappear 0.5s alternate;
}

.title {
  font-size: 2rem;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid $text;
  animation: typing 1s steps(14) 0s forwards, blink 0.25s step-end infinite;
}

@keyframes typing {
  to {
    width: 15rem;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes appear {
  0% {
    border-radius: 50%;
    transform: translateY(-100vh);
  }
  100% {
    border-radius: 0;
    transform: translateY(0);
  }
}

@keyframes disappear {
  0% {
    border-radius: 0;
    transform: translateY(0);
  }
  100% {
    border-radius: 50%;
    transform: translateY(-100vh);
  }
}
