.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  border-radius: 1rem;
  width: 8rem;
  height: 10rem;
  padding: 1rem 1rem;
  border: 2px solid #2f3742;
}
.card * {
  overflow: hidden;
}
.card h4 {
  transform: translateY(3rem);
  transition: transform 0.3s ease-in-out;
  margin: 2px;
}
.card .description {
  font-size: 0.8rem;
  margin: 2px;
  height: 3rem;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.card .tag {
  display: inline-block;
  padding: 3px 6px;
  margin: 0px 2px;
  font-size: 0.8rem;
  background-color: #2f3742;
  border-radius: 8px;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--bgImg);
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
  z-index: -1; /* Ensure the image stays behind the content */
}

/* Zoom effect on the background */
.card:hover::before {
  transform: scale(1.2); /* Zoom the background */
}

.card:hover .description,
.card:hover h4 {
  opacity: 1;
  transform: translateY(0);
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgb(0, 0, 0) 30%, rgba(0, 0, 0, 0));
  z-index: -1;
}