@import "./../../../../../styles/colors";

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  border-radius: 1rem;
  width: 8rem;
  height: 10rem;
  padding: 1rem 1rem;
  border: 2px solid $background-tertiary;
  * {
    overflow: hidden;
  }
  h4 {
    transform: translateY(2rem);
    transition: transform 0.3s ease-in-out;
    margin: calc(1rem / 10);
  }
  .description {
    font-size: 0.8rem;
    margin: calc(1rem / 10);
    height: 3rem;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  .tag {
    display: inline-block;
    padding: calc(1rem / 6) calc(1rem / 3);
    margin: 0px calc(1rem / 10);
    font-size: 0.8rem;
    background-color: $background-tertiary;
    border-radius: 8px;
  }
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--bgImg);
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
  z-index: -1; /* Ensure the image stays behind the content */
}

/* Zoom effect on the background */
.card:hover::before {
  transform: scale(1.2); /* Zoom the background */
}

.card:hover h4 {
  opacity: 1;
  transform: translateY(0);
}

.card:hover .description {
  opacity: 0.8;
  transform: translateY(0);
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0));
  z-index: -1;
}
