$primary: #0a0c10;
$secondary: #343143;
$tertiary: #30363d;
$active: #26cd41;
$inactive: #15381f;
$text: #c2c4c8;
$red: #ff4445;
$border: #7a828e;

@font-face {
  font-family: "segoeui";
  src: url("./assets/fonts/segoeui.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "consolas";
  src: url("./assets/fonts/consolas.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}
html {
  box-sizing: border-box;
  color: $text;
  font-family: "segoeui", sans-serif;
  font-size: 12px;
}
button {
  color: $text;
  border: none;
}

body {
  background-color: $primary;
}

h1 {
  font-weight: normal;
  font-size: 1rem;
  span {
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
  padding: 20px 20px;
}

svg:hover {
  fill: #fafbfc;
}
