@import "./styles/colors";

* {
  margin: 0;
  overflow-x: hidden;
}
a {
  color: $text;
  text-decoration: none;
}

html {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

body {
  color: $text;
  background-color: $background;
}

.home-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
}

.menu-pc {
  position: fixed;
}

@media (max-width: 1024px) {
  .featured {
    display: none;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}
