* {
  margin: 0;
  overflow-x: hidden;
}

a {
  color: #ffffff;
  text-decoration: none;
}

html {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

body {
  color: #ffffff;
  background-color: #0a0c10;
}

.home-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100 - 100px);
}

.menu-pc {
  position: fixed;
}

svg {
  display: block; /* Ensures no extra space under inline SVG */
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {
  .featured {
    display: none;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}