@keyframes appearDisappear {
  0% {
    scale: 0;
  }
  50% {
    scale: 1;
  }
  100% {
    scale: 0;
  }
}
@keyframes disappear {
  50% {
    transform: translateY(0) scale(1);
    border-radius: 0%;
  }
  100% {
    transform: translateY(-100vh) scale(0);
    border-radius: 100%;
  }
}
* {
  margin: 0;
  overflow-x: hidden;
}

a {
  color: #ffffff;
  text-decoration: none;
}

html {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

body {
  color: #ffffff;
  background-color: #0a0c10;
}

.home-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
}

.menu-pc {
  position: fixed;
}

@media (max-width: 1024px) {
  .featured {
    display: none;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}