@font-face {
  font-family: "segoeui";
  src: url("./assets/fonts/segoeui.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "consolas";
  src: url("./assets/fonts/consolas.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  color: #c2c4c8;
  font-family: "segoeui", sans-serif;
  font-size: 12px;
  scroll-behavior: smooth;
}

button {
  color: #c2c4c8;
  border: none;
}

body {
  background-color: #0a0c10;
}

h1 {
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
h1 span {
  font-weight: bold;
  font-size: 1.5rem;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  padding: 20px 20px;
}

svg:hover {
  fill: #fafbfc;
}

@media (min-width: 768px) {
  .section {
    padding: 50px;
  }
}