@import "./../../../../styles/colors";

.profile,
.featured {
  flex: 1;
  margin: 5rem;
}

.header {
  display: flex;
  align-items: center;
  img {
    width: 4rem;
    border: 2px solid $active;
    border-radius: 50%;
  }
  .title {
    margin: 0 0 0 12px;
    h1 {
      font-size: 1.5rem;
    }
  }
}

.menu {
  button {
    padding: 8px 12px;
    margin: 16px 4px;
    background-color: $active-secondary;
    border: none;
    border-radius: 8px;
    a {
      font-size: 1rem;
      color: $active;
    }
    &:hover {
      scale: 1.1;
    }
  }
}

.aboutMe {
  padding: 16px 12px;
  background-color: $background-secondary;
  border-radius: 16px;
  p {
    margin: 0 4px;
    line-height: 1.5rem;
  }
  div {
    padding: 12px 0px;
    button {
      padding: 8px 12px;
      margin: 0 4px;
      color: $text;
      background-color: transparent;
      border: 2px solid $text;
      border-radius: 8px;
      a {
        font-size: 1rem;
      }
      &:hover {
        a {
          color: $active;
        }
        scale: 1.05;
        border-color: $active;
      }
    }
    img {
      margin: 0 8px;
      &:hover {
        scale: 1.2;
      }
    }
  }
}
