.profile {
  flex: 2;
  margin: 3rem;
}

.featured {
  flex: 1;
  margin: 3rem;
}

.header {
  display: flex;
  align-items: center;
}
.header img {
  width: 4rem;
  border: 2px solid #26cd41;
  border-radius: 50%;
}
.header .title {
  margin: 0 0 0 12px;
}
.header .title h1 {
  font-size: 1.5rem;
}

.menu {
  padding: 12px 0;
}
.menu button {
  padding: 8px 12px;
  margin: 4px 4px;
  background-color: #15381f;
  border: none;
  border-radius: 8px;
}
.menu button a {
  font-size: 1rem;
  color: #26cd41;
}
.menu button:hover {
  scale: 1.1;
}

.aboutMe {
  padding: 12px;
  background-color: #24292f;
  border-radius: 16px;
}
.aboutMe p {
  margin: 0 4px;
  line-height: 1.5rem;
}
.aboutMe div {
  padding: 14px 0;
}
.aboutMe div button {
  padding: 8px 12px;
  margin: 0 4px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 8px;
}
.aboutMe div button a {
  font-size: 1rem;
}
.aboutMe div button:hover {
  scale: 1.05;
  border-color: #26cd41;
}
.aboutMe div button:hover a {
  color: #26cd41;
}
.aboutMe div img {
  margin: 0 8px;
}
.aboutMe div img:hover {
  scale: 1.2;
}

@media (max-width: 1024px) {
  .featured {
    display: none;
  }
}